/* This is the default theme that loads on the website and serves as the base for all other themes */

/* Font Import */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* COLORS 
Wolfpack Red: ##CC0000
Wolfpack Black: #000000
Wolfpack White: #FFFFFF 
Dark Grey: #5B5B66 
*/

body {
    background-color: #FFFFFF;
}

h1 {
    color: #CC0000;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p {
    color: #000000;
}

footer {
    background-color: #CC0000;
}

/* Map Styles */
path {
    color: #CC0000;
    fill: #5B5B66;
}

.correct {
    fill: #CC0000;  
}    

/* Navigation Styles */

 /* Add a black background color to the top navigation */
.topnav {
    background-color: #CC0000;
}

/* Style the links inside the navigation bar */
.topnav ul li a {
    color: #FFFFFF;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #000000;
color: #FFFFFF;
}

/* Add an active class to highlight the current page */
.topnav li a.active {
background-color: #002868;
color: #FFCA00;
}

#startbtn {
    background-color: #CC0000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 12px 32px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

footer p {
    color:#FFFFFF;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#progress p {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
}

input::placeholder {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #5B5B66;
}

.already-guessed {
    color: #CC0000;
    font-family: "Roboto", serif;
    font-weight: 400;
}

table, th, tr {
    font-family: "Roboto", serif;
    font-weight: 400;
}

.missed {
    color: #CC0000;
    font-weight: 400;
}

/* Add a background to dropdown links on hover */
.topnav a {
    font-family: "Roboto Slab", serif;
}

.dropdown .dropbtn {
    font-family: "Roboto Slab", serif;
}

.dropdown .dropdown-content a:hover {
background-color: #FAC800;
color: #FFFFFF;
}

/* Add an active class to highlight the current page */
.active {
background-color: #990000;
color: #FFFFFF;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
background-color: #5B5B66;
color: #FFFFFF;
}